@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=EB+Garamond&family=Montserrat:wght@100;600;900&family=Roboto&family=Ubuntu:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Robot", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}